@import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

$headings-color: #4f7b94;
$body-background: #6e537c;
$body-background-bottom: darken($body-background, 10%);
$candy-stripe1: #fff;
$candy-stripe2: #e5e5e5;
$candy-stripe-hover: #f0f0f0;
$logo: "http://www.vitals.com/img/vitals-logo.jpg";

body {
	background: $body-background;
	background: -moz-linear-gradient(top, $body-background 0%, $body-background-bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$body-background), color-stop(100%,$body-background-bottom));
	background: -webkit-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -o-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -ms-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
}

h1, h2, h3, h4, h5, h6{
  color: $headings-color;
}

@mixin icon-replacement($content, $color) {
  content:'';
  display:inline-block;
  &::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: $content;
    color: $color;
  }
  &.icon16x16 {
    font-size: 12px;
  }
  &.icon24x24 {
    font-size: 20px;
  }
  &.icon32x32 {
    font-size: 28px;
  }
}

/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

// Success icon
img[src$="blue.png"] {
  @include icon-replacement('\f05d', green); // icon-ok-circle
}

img[src$="blue_anime.gif"] {
  @include icon-replacement('\f110', green); // icon-spinner | green
  @extend .icon-spin;
  &.icon16x16 {
    height: 16px;
    width: 16px;
  }
  &.icon24x24 {
    height: 25px;
    width: 23px;
  }
  &.icon32x32 {
    height: 35px;
    width: 31px;
  }
}

// Failed icon
img[src$="red.png"] {
  @include icon-replacement('\f05c', #c33); // icon-remove-circle
}

// Not built icon
img[src$="grey.png"] {
  @include icon-replacement('\f10c', #ccc); // icon-circle-blank
}

// Unstable icon
img[src$="yellow.png"] {
  @include icon-replacement('\f05c', #fc0); // icon-remove-circle | golden
}


// Build icon small
img[src$="16x16/clock.png"] {
  @include icon-replacement('\f017', #333); // icon-clock
  font-size: 12px
}

// Build icon medium/large
img[src$="24x24/clock.png"] {
  @include icon-replacement('\f017', #333); // icon-clock
  font-size: 20px
}

// Health 80+
img[src$="health-80plus.png"] {
  @include icon-replacement('\f185', #fc0); // icon-sun
}

// Health 60-79
img[src$="health-60to79.png"] {
  @include icon-replacement('\f185', #fc0); // icon-sun
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0c2';
    color: #ddd;
    position: absolute;
    font-size: 80%;
    left: 30%;
    top: 30%;
  }
}

// Health 40-59
img[src$="health-40to59.png"] {
  @include icon-replacement('\f0c2', #666); // icon-cloud
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0c2';
    color: #aaa;
    position: absolute;
    font-size: 80%;
    left: 25%;
    top: 35%;
  }
}

// Health 20-39
img[src$="health-20to39.png"] {
  @include icon-replacement('\f0c2', #777); // icon-cloud
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f043'; // icon-tint
    color: #0cf;
    position: absolute;
    font-size: 60%;
    left: 50%;
    top: 50%;
  }
}

// Health 00-19
img[src$="health-00to19.png"] {
  @include icon-replacement('\f0c2', #666); // icon-cloud
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0e7'; // icon-bolt
    color: #fc0;
    position: absolute;
    font-size: 80%;
    left: 25%;
    top: 35%;
  }
}






#top-panel{
	background: none;
	td#login-field {
		span {
			a {
				background:none;
			}
		}
	}
  td {
		#searchform {
			a {
				background:none;
				height: auto;
				width: auto;
			}
		}
    &>a {
			background:url($logo) 0 0 no-repeat;
			display:block;
			width: 160px;
			height: 70px;
			margin: 10px 0 10px 10px;
      img {
        display:none;
      }
    }
  }
}
#projectstatus {
	background: #fff;
  tr{
    &:nth-of-type(odd) {
      background-color:$candy-stripe2;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
    &:nth-of-type(even) {
      background-color:$candy-stripe1;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
  }
}
#left-top-nav {
	border-left: none;
}

#side-panel{
  background-color: #fff;
  >div:not(#navigation){
    display: none;
  }
  .task{
    a{
      display: inline-block;
      text-decoration: none;
      width: 10%;
      &+a{
        width: 83%;
        padding: 4px;
        &:hover{
          background-color: $candy-stripe2;
        }
      }
      &:hover{
        text-decoration: underline
      }
    }
  }
}
#main-panel {
	background:#fff;
  &>h1{
    margin-top: 0;
  }
}
#main-table {
	border-top:0;
	border-bottom:0;
}
#description {
	div {
	font-size: 1.3em;
	}
}
#footer {
	border-top:1px solid #ccc;
}
#view-message{
  #description{
    a{
      img{
        padding-right: 4px;
      }
    }
  }
}
