@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  background: #6e537c;
  background: -moz-linear-gradient(top, #6e537c 0%, #533f5d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6e537c), color-stop(100%, #533f5d));
  background: -webkit-linear-gradient(top, #6e537c 0%, #533f5d 100%);
  background: -o-linear-gradient(top, #6e537c 0%, #533f5d 100%);
  background: -ms-linear-gradient(top, #6e537c 0%, #533f5d 100%);
  background: linear-gradient(top, #6e537c 0%, #533f5d 100%); }

h1, h2, h3, h4, h5, h6 {
  color: #4f7b94; }

img[src$="blue.png"] {
  content: '';
  display: inline-block; }
  img[src$="blue.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f05d";
    color: green; }
  img[src$="blue.png"].icon16x16 {
    font-size: 12px; }
  img[src$="blue.png"].icon24x24 {
    font-size: 20px; }
  img[src$="blue.png"].icon32x32 {
    font-size: 28px; }

img[src$="red.png"] {
  content: '';
  display: inline-block; }
  img[src$="red.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f05c";
    color: #cc3333; }
  img[src$="red.png"].icon16x16 {
    font-size: 12px; }
  img[src$="red.png"].icon24x24 {
    font-size: 20px; }
  img[src$="red.png"].icon32x32 {
    font-size: 28px; }

img[src$="grey.png"] {
  content: '';
  display: inline-block; }
  img[src$="grey.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f111";
    color: #cccccc; }
  img[src$="grey.png"].icon16x16 {
    font-size: 12px; }
  img[src$="grey.png"].icon24x24 {
    font-size: 20px; }
  img[src$="grey.png"].icon32x32 {
    font-size: 28px; }

img[src$="yellow.png"] {
  content: '';
  display: inline-block; }
  img[src$="yellow.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f05c";
    color: #ffcc00; }
  img[src$="yellow.png"].icon16x16 {
    font-size: 12px; }
  img[src$="yellow.png"].icon24x24 {
    font-size: 20px; }
  img[src$="yellow.png"].icon32x32 {
    font-size: 28px; }

img[src$="16x16/clock.png"] {
  content: '';
  display: inline-block;
  font-size: 12px; }
  img[src$="16x16/clock.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f017";
    color: #333333; }
  img[src$="16x16/clock.png"].icon16x16 {
    font-size: 12px; }
  img[src$="16x16/clock.png"].icon24x24 {
    font-size: 20px; }
  img[src$="16x16/clock.png"].icon32x32 {
    font-size: 28px; }

img[src$="24x24/clock.png"] {
  content: '';
  display: inline-block;
  font-size: 20px; }
  img[src$="24x24/clock.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f017";
    color: #333333; }
  img[src$="24x24/clock.png"].icon16x16 {
    font-size: 12px; }
  img[src$="24x24/clock.png"].icon24x24 {
    font-size: 20px; }
  img[src$="24x24/clock.png"].icon32x32 {
    font-size: 28px; }

img[src$="health-80plus.png"] {
  content: '';
  display: inline-block; }
  img[src$="health-80plus.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f185";
    color: #ffcc00; }
  img[src$="health-80plus.png"].icon16x16 {
    font-size: 12px; }
  img[src$="health-80plus.png"].icon24x24 {
    font-size: 20px; }
  img[src$="health-80plus.png"].icon32x32 {
    font-size: 28px; }

img[src$="health-60to79.png"] {
  content: '';
  display: inline-block;
  position: relative; }
  img[src$="health-60to79.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f185";
    color: #ffcc00; }
  img[src$="health-60to79.png"].icon16x16 {
    font-size: 12px; }
  img[src$="health-60to79.png"].icon24x24 {
    font-size: 20px; }
  img[src$="health-60to79.png"].icon32x32 {
    font-size: 28px; }
  img[src$="health-60to79.png"]::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0c2';
    color: #ddd;
    position: absolute;
    font-size: 80%;
    left: 30%;
    top: 30%; }

img[src$="health-40to59.png"] {
  content: '';
  display: inline-block;
  position: relative; }
  img[src$="health-40to59.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f0c2";
    color: #666666; }
  img[src$="health-40to59.png"].icon16x16 {
    font-size: 12px; }
  img[src$="health-40to59.png"].icon24x24 {
    font-size: 20px; }
  img[src$="health-40to59.png"].icon32x32 {
    font-size: 28px; }
  img[src$="health-40to59.png"]::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0c2';
    color: #aaa;
    position: absolute;
    font-size: 80%;
    left: 25%;
    top: 35%; }

img[src$="health-20to39.png"] {
  content: '';
  display: inline-block;
  position: relative; }
  img[src$="health-20to39.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f0c2";
    color: #777777; }
  img[src$="health-20to39.png"].icon16x16 {
    font-size: 12px; }
  img[src$="health-20to39.png"].icon24x24 {
    font-size: 20px; }
  img[src$="health-20to39.png"].icon32x32 {
    font-size: 28px; }
  img[src$="health-20to39.png"]::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f043';
    color: #0cf;
    position: absolute;
    font-size: 60%;
    left: 50%;
    top: 50%; }

img[src$="health-00to19.png"] {
  content: '';
  display: inline-block;
  position: relative; }
  img[src$="health-00to19.png"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: "\f0c2";
    color: #666666; }
  img[src$="health-00to19.png"].icon16x16 {
    font-size: 12px; }
  img[src$="health-00to19.png"].icon24x24 {
    font-size: 20px; }
  img[src$="health-00to19.png"].icon32x32 {
    font-size: 28px; }
  img[src$="health-00to19.png"]::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0e7';
    color: #fc0;
    position: absolute;
    font-size: 80%;
    left: 25%;
    top: 35%; }

#top-panel {
  background: none; }
  #top-panel td#login-field span a {
    background: none; }
  #top-panel td #searchform a {
    background: none;
    height: auto;
    width: auto; }
  #top-panel td > a {
    background: url("http://www.vitals.com/img/vitals-logo.jpg") 0 0 no-repeat;
    display: block;
    width: 160px;
    height: 70px;
    margin: 10px 0 10px 10px; }
    #top-panel td > a img {
      display: none; }

#projectstatus {
  background: #fff; }
  #projectstatus tr:nth-of-type(odd) {
    background-color: #e5e5e5; }
    #projectstatus tr:nth-of-type(odd):hover {
      background-color: #f0f0f0; }
  #projectstatus tr:nth-of-type(even) {
    background-color: white; }
    #projectstatus tr:nth-of-type(even):hover {
      background-color: #f0f0f0; }

#left-top-nav {
  border-left: none; }

#side-panel {
  background-color: #fff; }
  #side-panel > div:not(#navigation) {
    display: none; }
  #side-panel .task a {
    display: inline-block;
    text-decoration: none;
    width: 10%; }
    #side-panel .task a + a {
      width: 83%;
      padding: 4px; }
      #side-panel .task a + a:hover {
        background-color: #e5e5e5; }
    #side-panel .task a:hover {
      text-decoration: underline; }

#main-panel {
  background: #fff; }
  #main-panel > h1 {
    margin-top: 0; }

#main-table {
  border-top: 0;
  border-bottom: 0; }

#description div {
  font-size: 1.3em; }

#footer {
  border-top: 1px solid #ccc; }

#view-message #description a img {
  padding-right: 4px; }
