@import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

$headings-color: #4f7b94;
$body-background: #6e537c;
$body-background-bottom: darken($body-background, 10%);
$candy-stripe1: #fff;
$candy-stripe2: #e5e5e5;
$candy-stripe-hover: #f0f0f0;
$logo: "http://www.vitals.com/img/vitals-logo.jpg";

body {
	background: $body-background;
	background: -moz-linear-gradient(top, $body-background 0%, $body-background-bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$body-background), color-stop(100%,$body-background-bottom));
	background: -webkit-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -o-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: -ms-linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
	background: linear-gradient(top, $body-background 0%,$body-background-bottom 100%);
}

h1, h2, h3, h4, h5, h6{
  color: $headings-color;
}

@mixin icon-replacement($content, $color) {
  content:'';
  display:inline-block;
  font-size: 20px;
  &::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 2px 3px;
    content: $content;
    color: $color;
  }
  &.icon16x16, &[src*="16x16"] {
    font-size: 12px;
  }
  &.icon24x24, &[src*="24x24"] {
    font-size: 20px;
  }
  &.icon32x32, &[src*="32x32"] {
    font-size: 28px;
  }
  &.icon48x48, &[src*="48x48"] {
    font-size: 32px;
  }
}

/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

@mixin icon-replacement-spinner($color){
  @include icon-replacement('\f110', $color); // icon-spinner
  @extend .icon-spin;
  &.icon16x16, &[src*="16x16"] {
    height: 16px;
    width: 16px;
  }
  &.icon24x24, &[src*="24x24"] {
    height: 25px;
    width: 23px;
  }
  &.icon32x32, &[src*="32x32"] {
    height: 35px;
    width: 31px;
  }
  &.icon48x48, &[src*="48x48"] {
    height: 39px;
    width: 35px;
  }
}

// Success icon
img[src$="blue.png"] {
  @include icon-replacement('\f05d', green); // icon-ok-circle
}

img[src$="blue_anime.gif"] {
  @include icon-replacement-spinner(green);
}

// Failed icon
img[src$="red.png"] {
  @include icon-replacement('\f05c', #c33); // icon-remove-circle
}

img[src$="red_anime.gif"] {
  @include icon-replacement-spinner(#c33);
}

// Not built icon
img[src$="grey.png"] {
  @include icon-replacement('\f10c', #ccc); // icon-circle-blank
}

img[src$="grey_anime.gif"] {
  @include icon-replacement-spinner(#ccc);
}

// Unstable icon
img[src$="yellow.png"] {
  @include icon-replacement('\f05c', #fc0); // icon-remove-circle | golden
}

img[src$="yellow_anime.gif"] {
  @include icon-replacement-spinner(#fc0);
}


// Build icon small
img[src$="16x16/clock.png"] {
  @include icon-replacement('\f017', #333); // icon-clock
  font-size: 12px
}

// Build icon medium/large
img[src$="24x24/clock.png"] {
  @include icon-replacement('\f017', #333); // icon-clock
}

// Health 80+
img[src$="health-80plus.png"] {
  @include icon-replacement('\f185', #fc0); // icon-sun
}

// Health 60-79
img[src$="health-60to79.png"] {
  @include icon-replacement('\f185', #fc0); // icon-sun
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0c2';
    color: #ddd;
    position: absolute;
    font-size: 80%;
    left: 30%;
    top: 30%;
  }
}

// Health 40-59
img[src$="health-40to59.png"] {
  @include icon-replacement('\f0c2', #666); // icon-cloud
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0c2';
    color: #aaa;
    position: absolute;
    font-size: 80%;
    left: 25%;
    top: 35%;
  }
}

// Health 20-39
img[src$="health-20to39.png"] {
  @include icon-replacement('\f0c2', #777); // icon-cloud
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f043'; // icon-tint
    color: #0cf;
    position: absolute;
    font-size: 60%;
    left: 50%;
    top: 50%;
  }
}

// Health 00-19
img[src$="health-00to19.png"] {
  @include icon-replacement('\f0c2', #666); // icon-cloud
  position: relative;
  &::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: '\f0e7'; // icon-bolt
    color: #fc0;
    position: absolute;
    font-size: 80%;
    left: 25%;
    top: 35%;
  }
}

// New job icon
img[src$="new-package.png"] {
  @include icon-replacement('\f067', #666); // icon-plus
}

// User icon
img[src$="user.png"] {
  @include icon-replacement('\f007', #666); // icon-user
}

// Build history / Recent changes icon / Manage old data
img[src$="notepad.png"], 
img[src$="document.png"], 
img[src$="text-x-generic.png"] {
  @include icon-replacement('\f0f6', #666); // icon-file-text-alt
}

// Edit view icon
img[src$="gear.png"] {
  @include icon-replacement('\f013', #666); // icon-cog
}

// Delete view icon
img[src$="edit-delete.png"] {
  @include icon-replacement('\f014', #666); // icon-trash
}

// Add description icon
img[src$="16x16/notepad.png"] {
  @include icon-replacement('\f044', #666); // icon-edit
  font-size: 14px;
}

// Manage Jenkins icon, Config history plugin icon
img[src$="setting.png"], img[src$="confighistory.png"] {
  font-size: 20px;
  @include icon-replacement('\f0ad', #666); // icon-wrench
}

// Back to Dashboard icon
img[src$="up.png"], img[src$="up.gif"] {
  @include icon-replacement('\f062', #666); // icon-arrow-up
}

// Show <type> only filter icon
img[src$="edit-find.png"] {
  @include icon-replacement('\f0b0', #666); // icon-filter
}

// Search/Status icon
img[src$="search.png"] {
  @include icon-replacement('\f002', #666); // icon-search
}

// Folder icon
img[src$="folder.png"] {
  @include icon-replacement('\f07c', #666); // icon-folder-open
}

// Feature/Rcov Report icon
img[src$="graph.gif"] {
  @include icon-replacement('\f080', #666); // icon-bar-chart
}

// Github icon
img[src$="github/logov3.png"] {
  @include icon-replacement('\f092', #666); // icon-github-sign
}

// Github Hook Log / Latest Test Result icon
img[src$="clipboard.png"] {
  @include icon-replacement('\f022', #666); // icon-list-alt
}

// Help icon
img[src$="help.png"] {
  @include icon-replacement('\f059', #666); // icon-question-sign
}

// Configure Security icon
img[src$="secure.png"] {
  @include icon-replacement('\f023', #666); // icon-lock
}

// Reload Configuration icon
img[src$="refresh.png"] {
  @include icon-replacement('\f021', #666); // icon-refresh
}

// Manage Plugins icon
img[src$="plugin.png"] {
  @include icon-replacement('\f12e', #666); // icon-puzzle-piece
}

// System info icon
img[src$="computer.png"] {
  @include icon-replacement('\f108', #666); // icon-desktop
}

// Load statistics icon
img[src$="monitor.png"] {
  @include icon-replacement('\f0ae', #666); // icon-tasks
}

// Jenkins CLI icon
img[src$="terminal.png"] {
  @include icon-replacement('\f120', #666); // icon-terminal
}

// Manage nodes icon
img[src$="network.png"] {
  @include icon-replacement('\f0e8', #666); // icon-sitemap
}

// Manage credentials icon
img[src$="credentials.png"] {
  @include icon-replacement('\f084', #666); // icon-key
}

// Manage credentials icon
img[src$="credentials.png"] {
  @include icon-replacement('\f084', #666); // icon-key
}

// Prepare for Shutdown icon
img[src$="system-log-out.png"] {
  @include icon-replacement('\f08b', #666); // icon-signout
}

// RSS icon
img[src$="atom.gif"] {
  @include icon-replacement('\f143', #666); // icon-rss-sign
  font-size: 16px;
}





#top-panel{
	background: none;
	td#login-field {
		span {
			a {
				background:none;
			}
		}
	}
  td {
		#searchform {
			a {
				background:none;
				height: auto;
				width: auto;
			}
		}
    &>a {
			background:url($logo) 0 0 no-repeat;
			display:block;
			width: 160px;
			height: 70px;
			margin: 10px 0 10px 10px;
      img {
        display:none;
      }
    }
  }
}
#projectstatus {
	background: #fff;
  tr{
    &:nth-of-type(odd) {
      background-color:$candy-stripe2;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
    &:nth-of-type(even) {
      background-color:$candy-stripe1;
      &:hover{
        background-color: $candy-stripe-hover;
      }
    }
  }
}
#left-top-nav {
	border-left: none;
}

#side-panel{
  background-color: #fff;
  >div:not(#navigation){
    display: none;
  }
  .task{
    a{
      display: inline-block;
      text-decoration: none;
      width: 10%;
      &+a{
        width: 83%;
        padding: 4px;
        &:hover{
          background-color: $candy-stripe2;
        }
      }
      &:hover{
        text-decoration: underline
      }
    }
  }
}
#main-panel {
	background:#fff;
  &>h1{
    margin-top: 0;
  }
}
#main-table {
	border-top:0;
	border-bottom:1px solid #ddd;
}
#description {
	div {
	font-size: 1.3em;
	}
}
#footer {
  border-top: 0;
  a {
    color: #fefefe;
  }
}
#view-message{
  #description{
    a{
      img{
        padding-right: 4px;
      }
    }
  }
}
